*{
    margin: 0;
}
body{
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}
form{
    height: 15vh;
    width: 15vw;
    margin-top: 10vh;
}
fieldset{
    border: 5px;
    border-style: double;
    border-color: palevioletred;
    color: palevioletred;
    background-color: black;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
legend{
    font-size: 1.5vw;
    color: palevioletred;
    font-weight: 500;
}
button{
    width: 4vw;
}
div{
    width: 100%;
    display: flex;
    justify-content: space-around;
}
#checkbox{
    display: flex;
    justify-content: center;
}
#checkbox label{
    margin-left: 5px;
}