.container {
    height: 50vh;
    width: 50vw;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: .8rem;
}

.container div{
    height: 15vh;
    border: 2px solid lightgray;
}