nav {
    padding: .8rem;
    display: flex;
    justify-content: space-between;
}

ul {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: .8rem;
    list-style: none;
}

ul li:last-child button{
    background-color: blue;
    padding: .8rem;
    color: yellow;
    font-size: 1vw;
    font-weight: 900;
    border-radius: 20px;
    cursor: pointer;
}