body{
    background-image: url(img/bubble-background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
h1{
    width: 80vw;
    text-align: center;
    font-size: 4em;
    font-weight: 900;
    margin: 2em 0;
    color: aquamarine;
    border: 0.2em;
    border-style: double;
    border-radius: 0.5em;
    position: relative;
    left: 3em;
}
*{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    box-sizing: border-box;
    color: red;
}
nav{
    width: 60vw;
    height: 4em;
    margin: 2em;
    background-color: rgb(75, 5, 75);
    position: relative;
    left: 17.5em;
    border: 3px solid;
    border-color: red;
}
#navegacao li{
    margin: 1em;
    width: 10vw;
    height: 1.5em;
    display: inline;
    background-color: rgb(2, 136, 114);
    font-size: 2em;
    border: 0 3px 3px 3px;
    border-style: outset;
    border-color: aqua;
}
