*{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    box-sizing: border-box;
}
body{
    height: 100vh;
    background: url(img/bubble-background.jpg) no-repeat;
    background-size: cover;
    display: grid;
   grid-template-areas: "header header" "main aside" "footer footer";
   grid-template-rows: 30vh 1fr 10vh;
   grid-template-columns: 1fr 30vw;
}
#cabecalho{
    grid-area: header;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
h1{
    text-align: center;
    font-size: 3vw;
    font-weight: 900;
    color: aquamarine;
    border: 0.2em;
    border-style: double;
    border-radius: 0.5em;
}
nav{
    width: 60vw;
}
#navegacao ul{
    display: flex;
    justify-content: space-around;
}
#navegacao li{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 10vw;
    background-color: rgb(2, 136, 114);
    font-size: 1vw;
    font-weight: 900;
    border: 0 3px 3px 3px;
    border-style: outset;
    border-color: aqua;
}
#sobre{
    grid-area: main;
}
article{
    height: 1fr;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
article h2{
    font-size: 2vw;
    height: 4vh;
    font-weight: 600;
    text-align: center;
    margin-bottom: 3vh;
}
#secao1{
    display: flex;
    align-items: center;
    justify-content: space-around;
    align-content: space-around;
    margin-bottom: 3vh;
}
#secao1 div{
    font-size: 1.5vw;
    width: 40vw;
}
#secao1 h3{
    text-align: center;
    margin-bottom: 2vh;
}
#secao1 p{
    justify-content: center;
    text-align: justify;
    font-weight: 300;
}
#secao1 table{
    width: 18vw;
}
table td{
    font-weight: 600;
    font-size: 1vw;
}
table caption{
    font-size: 1.5vw;
    font-weight: 900;
}
#visao{
    background-color: brown;
}
#boxeador{
    background-color: blue;
}
#bibliografia{
    background-color: yellow;
}
#aolado{
    grid-area: aside;
}
#rodape{
    grid-area: footer;
}

